<link rel="stylesheet" type="text/css" href="css/w3.css">

<style type="text/css">
    footer{
        position: relative;
        height: 55px;
        min-width: 100%;
        text-align: center; 
        padding-top: 20px; 
        bottom: 0px; 
        margin-top: 100px;
        color : #000000;
        /*background: #6cf;*/


    }


</style>
    <footer>
        <div class="navbar navbar-expand-md navbar-dark bg-dark static-buttom" role="navigation">
            <div class= "navbar-text pull-left">
            </div>
            <div class= "navbar-text pull-right">
            <!-- Add social media stuffts here -->
                <a href= "https://github.com/lkaudu">
                    <i class= "fa fa-github-square fa-2x"></i></a>
            </div>
            <div class="col-md-12 w3-teal">
                Copyright &copy; 2022 | Lovingkindness Audu
            </div>
        </div> 
    </footer>