<!-- {% load static %} -->

<div class="form-group" id= "ptwo">
    <label for="password">Reset Password using Numbers:</label>
    <br>
    <br>
    {% for row in p_images %}
    <div class="row no-gutters" id= "ptwo">
        {% for col in row %}
        <div class="col-2 no-gutters" id= "ptwo">
            
            <img src='{% static 'images/pwd/' %}{{ col }}.jpg' alt=" img" style="
                height: 120px;
                width: 160px;" id="p{{ forloop.parentloop.counter0  }}{{ forloop.counter0  }}"
                onclick="twoSelect ({{forloop.parentloop.counter0}}, {{forloop.counter0}})">


               
            </div>
            <div style="padding-right: 65px;"></div>
            {% endfor %}
        
        </div>
        <div style="padding-bottom: 35px;"></div>
       
        {% endfor %}
    </div>
<!-- <script>
    var gpwd2_set= new Set();
    res2 = document.getElementById("ptwo");
    function twoSelect (a, b) {
        var res2 = a.toString() + b.toString();
        if (gpwd2_set.has(res2)) {
            console.log('true');
            gpwd2_set.delete(res2);
            document.getElementById(res2).style.border = null;
        } else {
            gpwd2_set.add(res2);
            document.getElementById(res2).style.border = "2px solid green";
        }

        console.log(gpwd2_set);
    }
</script> -->
</div>
